.NavbarFarbe{
    color: red;
}

.Meme{
    text-align: center;
    image-resolution: snap;
    display: grid;
    color: chocolate;
    font-family: "Comic Sans MS";
    font-size: 14px;

}
.galerie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}
.gridTitel{
grid-column: 1/5;
    text-align: center;
}

.backgroundMitBild{
    background-image: url("DALL·E 2023-02-08 15.46.42 - a picture of dogs and cats that are playing poker in pop art.png");

    background-attachment: fixed;

}